# 不添加到git的一些文章和书籍
/ignore

# build 源码编译后的内容
/build

# vim编辑器产生的临时文件
*.swp

# IDEA
.idea
.iml

# vscode
.vscode

# eclipse
.settings
.classpath

# node
node_modules/
package-lock.json

# hexo
.DS_Store
Thumbs.db
db.json
*.log
public/
.deploy*/
