body {
    color: #5f6368;
    margin: 0;
}

/*************
 *  顶部   *
**************/

.header {
    display: block;
    padding: 0.5rem;
    box-shadow: inset 0 -1px 0 rgba(100,121,143,0.322);
    display: flex;
    justify-content: space-between;
}
.hea {
    height: 3rem;
    display: inline-block;
}
.hea-title {
    width: 16rem;
}
.hea-menubar {
    height: 3rem;
    width: 3rem;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);
}
.hea-menubar svg {
    height: 2rem;
    width: 2rem;
    padding: 0.5rem;
    opacity: 0.6;
}
.hea-menubar:hover {
    background-color: rgba(60,64,67,0.08);
    outline: none;
}
.hea-logo img {
    height: 3rem;
}
.hea-searcher {
    border-radius: 8px;
    padding: 0.5rem;
    height: 2rem;
    background: #f1f3f4;
    display: inline-flex;
    align-content: center;
    align-items: center;
}
.hea-searcher input {
    display: block;
    height: 1rem;
    font-size: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    width: 16rem;
    /* 去除默认样式 */
    background:none; 
    outline:none;  
    border:none;
}
.hea-searcher svg {
    margin-left: 0.5rem;
    margin-right: 0.5rem; 
    /* padding: 8px; */
    opacity: 0.6;
}
.hea-version {
    line-height: 3rem;
}

/*************
 *  主体容器   *
**************/

.content {
    display: flex;
}

/*************
 *  导航栏   *
**************/
.nav {
    width: 16rem;
    height: calc(100vh - 4rem);
    padding: 0.5rem;
    box-shadow: inset -1px 0 0 rgba(100,121,143,0.322);
}
.nav-list {
    margin: 0;
    list-style: none;
    padding-left: 1.5rem;
    font-size: 1.2rem;
    font-weight: bold;
}
.nav-list li {
    position: relative;
}
.nav-list ul {
    font-size: 1rem;
    font-weight: normal;
    list-style: none;
    padding-left: 1rem;
    display: none;
}
.nav-list a,
.nav-list span {
    color: inherit;
    text-decoration: none;
    line-height: 2em;
    cursor: pointer;
}
.nav-list span::before {
    display: inline-block;
    position: absolute;
    top: calc(1em - 0.5rem);
    left: -1.5rem;
    height: 1rem;
    width: 1rem;
    content: " ";
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAAHYYAAB2GAV2iE4EAAADfSURBVFhH7ZdLDkVAEEXrmVgGO7EdLazEjKAnEjuxJmZGnpK7gC5ViYE+SUffGshJf0r8zgt6kQTP14gCUSAKiAT2fac8z2lZFlQM4EYUStu23LTuMY4jqjpEK5CmKWZEVVXRNE1Iz1GdAZbw3iM9Q30InXOqlTC5BZrtMBFgnkqYCTAssa4rUhimAkySyF5pKjAMAxVFgRSGmUDf9/cWSDER6LqO6rpGkqEWuFoyNU2DJEclwNeOG5EGkcBxHJjR3YLLskRSgI9SENu2nVmWnfM8o6In/hdEgSjwdQGiP5bhJt23YtVOAAAAAElFTkSuQmCC);
    background-size: cover;
    cursor: pointer;
    transition: transform 0.3s;
}
.nav-list .nav-open > span::before {
    transform: rotate(90deg);
}
.nav-list .nav-open > ul {
    display: block;
}
.nav-select a {
    color: #822;
    font-weight: bold;
}